{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h2 class="mb-0">Utwórz nowe zadanie</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mb-3">{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}</div>
                <div class="mb-3">{{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}</div>
                <div class="row">
                    <div class="col-md-6 mb-3">{{ form_row(form.status, {'attr': {'class': 'form-select'}}) }}</div>
                    <div class="col-md-6 mb-3">{{ form_row(form.user, {'attr': {'class': 'form-select'}}) }}</div>
                </div>
                <button class="btn btn-primary w-100">Zapisz zadanie</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}